allure-results
allure-report

.idea/
.vscode/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
.eggs/