name: CI Selenium Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Install Dependencies
      run: |
        pip install -r tests/requirements.txt

    - name: Run Tests
      run: |
        pytest tests --alluredir=allure-results

    # ✅ Install Allure CLI (NO Docker)
    - name: Install Allure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y allure

    # ✅ Generate HTML report
    - name: Generate Allure Report
      run: |
        allure generate allure-results -o allure-report --clean

    # ✅ Upload report as artifact
    - name: Upload Allure Report
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report
