name: CI Selenium Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - uses: browser-actions/setup-chrome@v1

    - name: Install Dependencies
      run: |
        pip install -r tests/requirements.txt

    - name: Run Tests
      run: |
        pytest tests --alluredir=allure-results

    - name: Install Allure CLI
      run: |
        ALLURE_VERSION=2.27.0
        curl -Ls https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.tgz -o allure.tgz
        tar -xzf allure.tgz
        sudo mv allure-${ALLURE_VERSION} /opt/allure
        sudo ln -s /opt/allure/bin/allure /usr/bin/allure
        allure --version

    - name: Generate Allure Report
      run: |
        allure generate allure-results -o allure-report --clean

    - name: Upload Allure Report
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report
