name: CI Selenium Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - uses: browser-actions/setup-chrome@v1

    - name: Install Dependencies
      run: |
        pip install -r tests/requirements.txt

    - name: Run Tests
      run: |
        pytest tests --alluredir=allure-results

    - name: Install Allure CLI
      run: |
        ALLURE_VERSION=2.27.0
        curl -Ls https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.tgz -o allure.tgz
        tar -xzf allure.tgz
        sudo mv allure-${ALLURE_VERSION} /opt/allure
        sudo ln -s /opt/allure/bin/allure /usr/bin/allure
        allure --version

    - name: Generate Allure Report
      run: |
        allure generate allure-results -o allure-report --clean

    - name: Deploy Allure Report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: allure-report

    - name: Load Allure history
      uses: actions/checkout@v4
      with:
        ref: gh-pages
        path: gh-pages
      continue-on-error: true

    - name: Copy history
      run: |
        if [ -d gh-pages/history ]; then
          cp -r gh-pages/history allure-results/
        fi

